.navbar-logo{
    width: 100px;
    height: auto;
}
.cross-btn{
    right: 30px;
    top: 20px;
}
.banner-img{
    left: 0;
    bottom: -50px;
}
.cart-icon{
    width: 25px;
}
.btn:hover{
    color: black !important;
    background-color: #73BF78 !important;
}

.pattern-img{
    bottom: -140px;
    left: 0;
    right: 0;
    opacity: .4;
    z-index: -1;
}

.home-div{
    min-width: 300px;
}